button {
  height: 2rem;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: 1px solid rgba($color: #000000, $alpha: .3);
  cursor: pointer;
  transition: all .3s;
}

button:hover {
  transform: scale(1.2);
}
